<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni0422</key>
  <dict>
    <key>uni0430</key>
    <integer>-50</integer>
  </dict>
  <key>uni0436.loclBGR</key>
  <dict>
    <key>uni0430</key>
    <integer>-34</integer>
  </dict>
  <key>uni043A.loclBGR</key>
  <dict>
    <key>uni0430</key>
    <integer>-34</integer>
  </dict>
  <key>uni043E</key>
  <dict>
    <key>uni0436.loclBGR</key>
    <integer>-26</integer>
  </dict>
</dict>
</plist>
