<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>700</integer>
  <key>capHeight</key>
  <integer>680</integer>
  <key>copyright</key>
  <string>Copyright (c) 2015-2022 Common Sans Project Authors (https://github.com/StefanPeev/Common-Sans). All rights reserved.</string>
  <key>descender</key>
  <integer>-200</integer>
  <key>familyName</key>
  <string>Common Sans</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>250</integer>
  </dict>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>540</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2015/08/27 14:36:06</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>950</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>-0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-250</integer>
  <key>openTypeHheaLineGap</key>
  <integer>-0</integer>
  <key>openTypeNameDescription</key>
  <string>Copyright (c) 2015-2022 Common Sans Project Authors (https://github.com/StefanPeev/Common-Sans). All rights reserved.</string>
  <key>openTypeNameDesigner</key>
  <string>Stefan Peev</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://localfonts.eu</string>
  <key>openTypeNameLicense</key>
  <string>SIL Open Font License 1.1
The Open Font License (OFL) is maintained by SIL International. It attempts to be a compromise between the values of the free software and typeface design communities. It is used for almost all open source font projects, including those by Adobe, Google and Mozilla.</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://github.com/StefanPeev/Common-Sans/blob/main/OFL.txt</string>
  <key>openTypeNameManufacturer</key>
  <string>Context Ltd</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://localfonts.eu</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Common Sans</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Black</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.026</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>4</integer>
    <integer>7</integer>
    <integer>29</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>276</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>75</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>350</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
    <integer>8</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>700</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-200</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>52</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>4</integer>
    <integer>5</integer>
    <integer>6</integer>
    <integer>9</integer>
    <integer>31</integer>
    <integer>35</integer>
    <integer>38</integer>
    <integer>62</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>CNTX</string>
  <key>openTypeOS2WeightClass</key>
  <integer>900</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>950</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>250</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-10</integer>
    <integer>0</integer>
    <integer>680</integer>
    <integer>690</integer>
  </array>
  <key>postscriptFontName</key>
  <string>CommonSans-Black</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Common Sans Black</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>65</integer>
    <integer>80</integer>
    <integer>180</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>68</integer>
    <integer>80</integer>
    <integer>90</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-200</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Black</string>
  <key>styleMapFamilyName</key>
  <string>Common Sans</string>
  <key>styleMapStyleName</key>
  <string>bold</string>
  <key>styleName</key>
  <string>Black</string>
  <key>trademark</key>
  <string>CommonSans is a trademark of Stefan Peev, Context Ltd.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>26</integer>
  <key>xHeight</key>
  <integer>460</integer>
</dict>
</plist>
