<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0422</key>
    <dict>
      <key>uni0430</key>
      <integer>-67</integer>
    </dict>
    <key>uni0435</key>
    <dict>
      <key>uni0437</key>
      <integer>-22</integer>
    </dict>
    <key>uni0436</key>
    <dict>
      <key>uni0435</key>
      <integer>-67</integer>
    </dict>
    <key>uni0436.loclBGR</key>
    <dict>
      <key>uni0430</key>
      <integer>-38</integer>
    </dict>
    <key>uni0437</key>
    <dict>
      <key>uni0434</key>
      <integer>-16</integer>
    </dict>
    <key>uni043A</key>
    <dict>
      <key>uni043E</key>
      <integer>-53</integer>
    </dict>
    <key>uni043A.loclBGR</key>
    <dict>
      <key>uni0430</key>
      <integer>-64</integer>
    </dict>
    <key>uni043E</key>
    <dict>
      <key>uni0436</key>
      <integer>-67</integer>
      <key>uni0436.loclBGR</key>
      <integer>-34</integer>
    </dict>
  </dict>
</plist>
