<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>dsc</key>
      <dict>
        <key>position</key>
        <integer>-200</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>460</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>T: 689</key>
      <dict>
        <key>position</key>
        <integer>689</integer>
        <key>width</key>
        <integer>11</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>fig</key>
      <dict>
        <key>position</key>
        <integer>710</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>CR</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcaron</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>NULL</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>V</string>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>a</string>
    <string>a.sc</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>b.sc</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>c.sc</string>
    <string>cacute</string>
    <string>caron</string>
    <string>caroncmb.cap</string>
    <string>caroncomb</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>circumflex</string>
    <string>colon</string>
    <string>comma</string>
    <string>copyright</string>
    <string>currency</string>
    <string>d</string>
    <string>d.sc</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccent</string>
    <string>dotlessi</string>
    <string>e</string>
    <string>e.sc</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>eight</string>
    <string>eight.dnom</string>
    <string>eight.inferior</string>
    <string>eight.numr</string>
    <string>eight.subscript</string>
    <string>eight.superior</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>eogonek</string>
    <string>equal</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>f.sc</string>
    <string>five</string>
    <string>five.dnom</string>
    <string>five.inferior</string>
    <string>five.numr</string>
    <string>five.subscript</string>
    <string>five.superior</string>
    <string>florin</string>
    <string>four</string>
    <string>four.dnom</string>
    <string>four.inferior</string>
    <string>four.numr</string>
    <string>four.subscript</string>
    <string>four.superior</string>
    <string>fraction</string>
    <string>g</string>
    <string>g.sc</string>
    <string>gbreve</string>
    <string>gcaron</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>h.sc</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i</string>
    <string>i.sc</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>j</string>
    <string>j.sc</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>k.sc</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>l.sc</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
    <string>less</string>
    <string>logicalnot</string>
    <string>longs</string>
    <string>lslash</string>
    <string>m</string>
    <string>m.sc</string>
    <string>macron</string>
    <string>minus</string>
    <string>mu</string>
    <string>multiply</string>
    <string>n</string>
    <string>n.sc</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>nine</string>
    <string>nine.dnom</string>
    <string>nine.inferior</string>
    <string>nine.numr</string>
    <string>nine.subscript</string>
    <string>nine.superior</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>o</string>
    <string>o.sc</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ogonek</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>one</string>
    <string>one.dnom</string>
    <string>one.inferior</string>
    <string>one.numr</string>
    <string>one.subscript</string>
    <string>one.superior</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
    <string>p.sc</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>q</string>
    <string>q.sc</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>r.sc</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>registered</string>
    <string>ring</string>
    <string>s</string>
    <string>s.sc</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>seven.dnom</string>
    <string>seven.inferior</string>
    <string>seven.numr</string>
    <string>seven.subscript</string>
    <string>seven.superior</string>
    <string>six</string>
    <string>six.dnom</string>
    <string>six.inferior</string>
    <string>six.numr</string>
    <string>six.subscript</string>
    <string>six.superior</string>
    <string>slash</string>
    <string>space</string>
    <string>sterling</string>
    <string>t</string>
    <string>t.sc</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>three</string>
    <string>three.dnom</string>
    <string>three.inferior</string>
    <string>three.numr</string>
    <string>three.subscript</string>
    <string>three.superior</string>
    <string>threequarters</string>
    <string>tilde</string>
    <string>tildecomb</string>
    <string>trademark</string>
    <string>two</string>
    <string>two.dnom</string>
    <string>two.inferior</string>
    <string>two.numr</string>
    <string>two.subscript</string>
    <string>two.superior</string>
    <string>u</string>
    <string>u.sc</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>uni0000</string>
    <string>uni0002</string>
    <string>uni0009</string>
    <string>uni000A</string>
    <string>uni000D</string>
    <string>uni00A0</string>
    <string>uni00AD</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni00B9</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni01C4</string>
    <string>uni01C5</string>
    <string>uni01C6</string>
    <string>uni01C7</string>
    <string>uni01C8</string>
    <string>uni01C9</string>
    <string>uni01CA</string>
    <string>uni01CB</string>
    <string>uni01CC</string>
    <string>uni01CD</string>
    <string>uni01CE</string>
    <string>uni01CF</string>
    <string>uni01D0</string>
    <string>uni01D1</string>
    <string>uni01D2</string>
    <string>uni01D3</string>
    <string>uni01D4</string>
    <string>uni01D5</string>
    <string>uni01D6</string>
    <string>uni01D7</string>
    <string>uni01D8</string>
    <string>uni01D9</string>
    <string>uni01DA</string>
    <string>uni01DB</string>
    <string>uni01DC</string>
    <string>uni01DD</string>
    <string>uni01DE</string>
    <string>uni01DF</string>
    <string>uni01E0</string>
    <string>uni01E1</string>
    <string>uni01E8</string>
    <string>uni01E9</string>
    <string>uni01EA</string>
    <string>uni01EB</string>
    <string>uni01EC</string>
    <string>uni01ED</string>
    <string>uni01F0</string>
    <string>uni01F1</string>
    <string>uni01F2</string>
    <string>uni01F3</string>
    <string>uni01F4</string>
    <string>uni01F5</string>
    <string>uni01F8</string>
    <string>uni01F9</string>
    <string>uni0200</string>
    <string>uni0201</string>
    <string>uni0202</string>
    <string>uni0203</string>
    <string>uni0204</string>
    <string>uni0205</string>
    <string>uni0206</string>
    <string>uni0207</string>
    <string>uni0208</string>
    <string>uni0209</string>
    <string>uni020A</string>
    <string>uni020B</string>
    <string>uni020C</string>
    <string>uni020D</string>
    <string>uni020E</string>
    <string>uni020F</string>
    <string>uni0210</string>
    <string>uni0211</string>
    <string>uni0212</string>
    <string>uni0213</string>
    <string>uni0214</string>
    <string>uni0215</string>
    <string>uni0216</string>
    <string>uni0217</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni021E</string>
    <string>uni021F</string>
    <string>uni0226</string>
    <string>uni0227</string>
    <string>uni0228</string>
    <string>uni0229</string>
    <string>uni022A</string>
    <string>uni022B</string>
    <string>uni022C</string>
    <string>uni022D</string>
    <string>uni022E</string>
    <string>uni022F</string>
    <string>uni0230</string>
    <string>uni0231</string>
    <string>uni0232</string>
    <string>uni0233</string>
    <string>uni0237</string>
    <string>uni0259</string>
    <string>uni02BC</string>
    <string>uni02C4</string>
    <string>uni02C5</string>
    <string>uni0302</string>
    <string>uni0304</string>
    <string>uni0306</string>
    <string>uni0307</string>
    <string>uni0308</string>
    <string>uni030A</string>
    <string>uni030B</string>
    <string>uni030F</string>
    <string>uni0311</string>
    <string>uni0312</string>
    <string>uni0313</string>
    <string>uni0314</string>
    <string>uni0315</string>
    <string>uni0326</string>
    <string>uni0329</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0414.loclBGR</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041B.loclBGR</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0430.sc</string>
    <string>uni0431</string>
    <string>uni0431.sc</string>
    <string>uni0432</string>
    <string>uni0432.loclBGR</string>
    <string>uni0432.sc</string>
    <string>uni0433</string>
    <string>uni0433.loclBGR</string>
    <string>uni0433.sc</string>
    <string>uni0434</string>
    <string>uni0434.loclBGR</string>
    <string>uni0434.sc</string>
    <string>uni0435</string>
    <string>uni0435.sc</string>
    <string>uni0436</string>
    <string>uni0436.loclBGR</string>
    <string>uni0436.sc</string>
    <string>uni0437</string>
    <string>uni0437.loclBGR</string>
    <string>uni0437.sc</string>
    <string>uni0438</string>
    <string>uni0438.loclBGR</string>
    <string>uni0438.sc</string>
    <string>uni0439</string>
    <string>uni0439.loclBGR</string>
    <string>uni0439.sc</string>
    <string>uni043A</string>
    <string>uni043A.loclBGR</string>
    <string>uni043A.sc</string>
    <string>uni043B</string>
    <string>uni043B.loclBGR</string>
    <string>uni043B.sc</string>
    <string>uni043C</string>
    <string>uni043C.sc</string>
    <string>uni043D</string>
    <string>uni043D.sc</string>
    <string>uni043E</string>
    <string>uni043E.sc</string>
    <string>uni043F</string>
    <string>uni043F.loclBGR</string>
    <string>uni043F.sc</string>
    <string>uni0440</string>
    <string>uni0440.sc</string>
    <string>uni0441</string>
    <string>uni0441.sc</string>
    <string>uni0442</string>
    <string>uni0442.loclBGR</string>
    <string>uni0442.sc</string>
    <string>uni0443</string>
    <string>uni0443.sc</string>
    <string>uni0444</string>
    <string>uni0444.sc</string>
    <string>uni0445</string>
    <string>uni0445.alt</string>
    <string>uni0445.sc</string>
    <string>uni0446</string>
    <string>uni0446.loclBGR</string>
    <string>uni0446.sc</string>
    <string>uni0447</string>
    <string>uni0447.sc</string>
    <string>uni0448</string>
    <string>uni0448.loclBGR</string>
    <string>uni0448.sc</string>
    <string>uni0449</string>
    <string>uni0449.loclBGR</string>
    <string>uni0449.sc</string>
    <string>uni044A</string>
    <string>uni044A.loclBGR</string>
    <string>uni044A.sc</string>
    <string>uni044B</string>
    <string>uni044B.loclBGR</string>
    <string>uni044B.sc</string>
    <string>uni044C</string>
    <string>uni044C.loclBGR</string>
    <string>uni044C.sc</string>
    <string>uni044D</string>
    <string>uni044D.sc</string>
    <string>uni044E</string>
    <string>uni044E.loclBGR</string>
    <string>uni044E.sc</string>
    <string>uni044F</string>
    <string>uni044F.sc</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045C</string>
    <string>uni045D</string>
    <string>uni045D.loclBGR</string>
    <string>uni045E</string>
    <string>uni04C1</string>
    <string>uni04C2</string>
    <string>uni04D0</string>
    <string>uni04D1</string>
    <string>uni04D2</string>
    <string>uni04D3</string>
    <string>uni04D6</string>
    <string>uni04D7</string>
    <string>uni04D9</string>
    <string>uni04DB</string>
    <string>uni04DC</string>
    <string>uni04DD</string>
    <string>uni04DE</string>
    <string>uni04DF</string>
    <string>uni04E2</string>
    <string>uni04E3</string>
    <string>uni04E4</string>
    <string>uni04E5</string>
    <string>uni04E6</string>
    <string>uni04E7</string>
    <string>uni04EC</string>
    <string>uni04ED</string>
    <string>uni04EE</string>
    <string>uni04EF</string>
    <string>uni04F0</string>
    <string>uni04F1</string>
    <string>uni04F2</string>
    <string>uni04F3</string>
    <string>uni04F4</string>
    <string>uni04F5</string>
    <string>uni04F8</string>
    <string>uni04F9</string>
    <string>uni2116</string>
    <string>uniFB01</string>
    <string>uniFB02</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>v</string>
    <string>v.sc</string>
    <string>w</string>
    <string>w.sc</string>
    <string>wcircumflex</string>
    <string>x</string>
    <string>x.sc</string>
    <string>y</string>
    <string>y.sc</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>z</string>
    <string>z.sc</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
    <string>zero.dnom</string>
    <string>zero.inferior</string>
    <string>zero.numr</string>
    <string>zero.subscript</string>
    <string>zero.superior</string>
    <string>ogonekcomb</string>
  </array>
</dict>
</plist>
